!!! 5
%html
  %head
    %title Posted
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'shared/header'
      = render 'shared/messages'
    - unless flash.empty?
      - flash.each do |f|
      - type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success')
        = javascript_tag do
          toastr["#{type}"]("#{f[1]}")
    %section.content      
      = yield
    %footer

